<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>








<div style="margin:10px; margin-right:500px; padding-top:10px; background-color:light-green;">



    <p>This platform is for the keto community to share recipes and give your variations and advice.</p>
    <p>SHARE YOUR PROGRESS :) </p>





</div>




<p><a href="/user/login">Get started!!!!</a></p>

</body>
</html>
