<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container" style="background-color:#dfddda">


<nav th:replace="fragments :: navigation2"></nav>




<h1><p th:text="${title}"></p></h1>
<h5><p th:text="'by ' + ${recipeAuthor.username}"></p></h5>


<tr th:each="ingredient : ${ingredients}">

    <p th:text="${ingredient.unit} + ' ' + ${ingredient.name}"></p>

</tr>




<img th:src="@{${thisPhoto}}" alt="image" width="100" height="50" />
<p th:text="${description}">Default Title</p>

<hr />

<h1>Comments/Variations</h1>

<form method="post" style="max-width:200px;margin:10px; margin-right:50px" th:object="${comment}">


    <div class="form-group">
        <label th:for="entry">Entry</label>
        <input class="form-control" th:field="*{entry}" />
        <span th:errors="*{entry}" class="error"></span>
    </div>


    <button type="submit" class="btn btn-primary">Add Comment</button>


</form>
    <hr />

<table class="table table-hover" style="max-width:800px; margin-right:50px;">
    <thead class="thead-dark">

    <tr>


        <th>Comments</th>
        <th>User</th>


    </tr>

    </thead>

    <tr th:each="comment : ${comments}">


        <td th:text="${comment.entry}"></td>
        <td th:text="${comment.user.username}"></td>


    </tr>

</table>




</body>
</html>