<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container" style="background-color:#dfddda">


<h1 th:text="${user} + ' ' + ' Comments'"></h1>


<nav th:replace="fragments :: navigation2"></nav>

<p th:unless="${comments} and ${comments.size()}">No comments yet!</p>




<table class="table table-hover">
    <thead class="thead-dark">

    <tr>
        <th>Recipe</th>
        <th>My Comment</th>


    </tr>

    </thead>

    <tr th:each="comment : ${comments}">


        <td th:text="${comment.recipe.name} + ' by ' + ${comment.recipe.user.username}"></td>

        <td th:text="${comment.entry}"></td>
        <td th:text="${comment.getDate()}"></td>

    </tr>

</table>


<a href="/comment/remove" class="btn btn-info" role="button">Remove Comment</a>




</body>
</html>