<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>
<h1 th:text="${recipe}">Default Title</h1>

<nav th:replace="fragments :: navigation2"></nav>

<p th:unless="${comments} and ${comments.size()}">No comments yet!</p>




<table class="table table-hover">
    <thead class="thead-dark">

    <tr>

        <th>Title</th>
        <th>Entry</th>
        <!--<th>Recipe</th>-->
        <th>User</th>

    </tr>

    </thead>

    <tr th:each="comment : ${comments}">

        <td th:text="${comment.title}"></td>
        <td th:text="${comment.entry}"></td>

        <!--<td th:text="${comment.recipe.name}"></td>-->
        <!--<td th:text="${comment.user.username}"></td>-->
    </tr>

</table>










<a href="/comment/add" class="btn btn-info" role="button">Add Comment</a>




</body>
</html>