<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container" style="background-color:#dfddda">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="comment : ${comments}" class="checkbox">
        <input type="checkbox" name="ids" th:value="${comment.id}" th:id="${comment.id}"/>
        <label th:for="${comment.id}" th:text="${comment.entry}"></label>
        <br />
    </div>


    <button type="submit" class="btn btn-primary">Remove Comment</button>
</form>

</body>
</html>