<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation2"></nav>


<body class="container" style="background-color:#dfddda ">



<h1 th:text="'Welcome to Ketopia, ' + ${user} + '!'">Default Title</h1>

<p><a href="/recipe/add">Add recipe</a></p>



<form th:action="@{/home/search}">

    <p>
        <label for="searchTerm">Search by Recipe:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </p>

        <input type="submit" value="Go" />
</form>
    <hr />






<form th:action="@{/home/searchByIngredient}">

    <p>
        <label for="searchByIngredient">Search by Ingredients:</label>
        <input type="text" name="searchByIngredient" id="searchByIngredient" />
    </p>

    <input type="submit" value="Go" />
</form>





<hr />

        <h2>All Recipes</h2>


   <p th:each="recipe : ${#lists.sort(recipes, byName)}">

        <td><a th:href="'/comment/add/' + ${recipe.id}" th:text="${recipe.name}"></a> by </td>

        <td><a th:href="'/home/view/' + ${recipe.user.id}" th:text="${recipe.user.username}"></a></td>


    </p>




    <hr />






<a href="https://www.facebook.com/sharer/
sharer.php?u=https%3A%2F%2Fketodietapp.com%2FBlog%2Flchf%2F7-common-diet-myths-in-the-keto-community">FaceBook</a>




</body>
</html>
