<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<p><a href="/recipe/add">Add recipe</a></p>
<p>


        <h2>Recipes</h2>




    <p th:each="recipe : ${recipes}">

        <td><a th:href="'/comment/add/' + ${recipe.id}" th:text="${recipe.name}"></a></td>

        <!--<td><a href="/comment/add/" th:text="${recipe.name}"></a></td>-->


    </p>






</table>

<!--<table class="table">

    <tr>
        <th>Title</th>
        <th>Entry</th>
        <th>User</th>


    </tr>

    <tr th:each="comment : ${comments}">
        <td th:text="${comment.title}"></td>
        <td th:text="${comment.entry}"></td>
        <td th:text="${comment.user.username}"></td>


    </tr>

</table>-->








<a href="https://www.facebook.com/sharer/
sharer.php?u=https%3A%2F%2Fketodietapp.com%2FBlog%2Flchf%2F7-common-diet-myths-in-the-keto-community">FaceBook</a>


<p><a href="/user/login">Get started!!!!</a></p>

</body>
</html>
