<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation2"></nav>


<body class="container" style="background-color:#dfddda">

<h4 th:text="'Recipes containing: ' + ${searchByIngredient}">Default Title</h4>
<div class="container body-content">

    <h2 th:if= "${results}" th:text="${results.size() + ' Result(s) found'}"></h2>
    <hr />


    <p>

        <tr th:each="result : ${results}">

            <td><a th:href="'/comment/add/' + ${result.id}" th:text="${result.name}"></a> by </td>

            <td><a th:href="'/home/view/' + ${result.user.id}" th:text="${result.user.username}"></a></td>


        </tr>
    </p>

</div>


</body>
</html>
